alembic==1.7.7
autopep8==1.6.0
Babel==2.9.0
click==8.1.3
colorama==0.4.4
distlib==0.3.4
filelock==3.7.0
Flask==2.1.2
Flask-Cors==3.0.10
Flask-Migrate==3.1.0
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
greenlet==1.1.2
itsdangerous==2.1.2
Jinja2==3.1.2
Mako==1.2.2
MarkupSafe==2.1.1
phonenumbers==8.12.49
platformdirs==2.5.2
psycopg2-binary==2.9.3
pycodestyle==2.8.0
python-dateutil==2.6.0
pytz==2022.1
six==1.16.0
SQLAlchemy==1.4.36
sqlitis==0.0.5
sqlparse==0.3.0
toml==0.10.2
virtualenv==20.14.1
Werkzeug==2.2.3
WTForms==3.0.1
